* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    background-color: rgb(46, 44, 44);
    font-family: sans-serif
}
/* H1 and image */
.me {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

}

h1 {
    flex-wrap: wrap;
    font-size: 80px;
    color: grey;
    text-shadow: 0.05em 0.05em 0 hsl(0 0% 0% / 0.7);
}

.image {
    display: flex;
    justify-content: center;
}
/* navbar */
nav {
    height: 100px;
    display: flex;
    min-height: 0px;
    width: 100%; 
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}


/* list glow */

nav a:link {
    text-decoration: none;
  }
  
nav a:visited {
    text-decoration: none;
    color: #fff;
  }
  
nav a {
    color:#fff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
nav a:hover {
    color: #fdec6e;
    text-shadow:0px 0px 30px #fdec6e;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

nav ul {
    display: flex;
    background-color: darkgrey;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: xx-large;
    flex-wrap: wrap;
    list-style-type: none;
    border: 5px solid #fff;
    width: 100%;   
    align-items: center;
    text-align: center; 
}

/* Main, About, Projects, Contact  */
.columns {
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 0px;
}

.card {
    padding: 1rem;
    background-color: grey;
    margin-top: 20px;
    border: 5px solid #fff;
    font-size: larger;
  }

.card__title {
    font-size: 300%;
}

.project-list {
    list-style: none;
    min-height: 0px;
}
.project-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact-list {
    list-style: none;
    font-size: large;
}
/* Footer */
.foot {
    display: flex;
    justify-content: center;
    color: #fff;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;

}

/* images */
.wow {
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 40%;
    min-height: 0px;
}
.projects {
    width: 50%;
    height: 40%;
    padding: 5px;
    min-height: 0px;
}

.projects1 {
    width: 20%;
    height: 100%;
}

/* media */

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2em;
        text-align: center;
    }
}