* {
    padding: 0;
    margin: 0;
    font-size: 80;
}

body {
    background-color: rgb(46, 44, 44);
    font-family: sans-serif
}

h1 {
    text-align: center;
    font-size: 500%;
    color: grey;
    text-shadow: 0.05em 0.05em 0 hsl(0 0% 0% / 0.7);
}

nav {
    height: 100px; 
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav ul {
    display: flex;
    background-color: darkgrey;
    flex-direction: row;
    justify-content: space-evenly;
    font-size:  xx-large;
    flex-wrap: wrap;
    height: 50px;
    align-content: center;
    border: 2px solid black;
    padding: 20px;
    list-style-type: none;
    border: 5px solid #fff;
}

.columns {
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card {
    padding: 1rem;
    background-color: grey;
    margin-top: 20px;
    border: 5px solid #fff;
    font-size: larger;
  }

.card__title {
    font-size: 300%;
}

.project-list {
    list-style: none;
}

.contact-list {
    list-style: none;
    font-size: large;
}

.foot {
    display: flex;
    justify-content: center;
    color: #fff;
}

/* images */

.avatar {
    width: 100%;
    height: 800px;
    border-radius: 50%;
  
}

.projects {
    width: 50%;
    height: 50%;
    padding: 5px;
}